@keyframes expand {
  0% {width: 2em; height: 2em;}
  100% {width: 20em; height: 10em;}
}

@keyframes contract {
  0% {width: 20em; height: 10em;}
  100% {width: 2em; height: 2em;}
}

@keyframes fadeIn {
  0% {opacity: 0}
  100% {opacity: 1}
}

@keyframes fadeOut {
  0% {opacity: 1}
  100% {opacity: 0}
}

@keyframes scroll {
  0% {margin-top: 19.3em}
  100% {margin-top: -43em}
}

@keyframes scrollMob {
  0% {margin-top: 19.3em}
  100% {margin-top: -103em}
}

@keyframes gradientFade {
  0% {opacity: 0}
  27% {opacity: 0}
  28% {opacity: 1}
  99% {opacity: 1; height: 55%;}
  100% {opacity: 1; height: 25%;}
}