.scrolling-container {
  position: fixed;
  transform: perspective(20em) rotateX(25deg);
  width: 75%;
  height: 70vh;
  overflow: hidden;
  transition: 1.5s;
  &:before {
    position: absolute;
    opacity: 0;
    content: "";
    width: 100%;
    height: 55%;
    background: linear-gradient(0deg, transparent, rgba(0,0,0,0.99) 90%);
    animation: gradientFade 30s linear 1s infinite;
  }
}

.scrolling-text {
  color: white;
  text-align: justify;
  font-size: 1.1em;
  margin-top: 19.3em;
  animation: scroll 30s linear 1s infinite;
/*   margin-top: -43em; */
  @media screen and (min-width: 800px) {
    font-size: 1.8em;
  }
}