#screen-1:checked {
  ~ .scrolling-container {
    left: 10%;
    bottom: 0;
    @media screen and (min-width: 769px) {
      left: 12.5%;
    }    
  }

  ~ .panel-2 {
    left: 101vw;
    top: 0;
  }

  ~ .panel-3 {
    left: 100vw;
    top: 100%;
  }

  ~ .midground {
    transform: translate(0, 0);
  }

  ~ .background {
    transform: translate(0, 0);
  }

  ~ .panel-4 {
    top: 65vh;
    left: -60vw;
    @media screen and (min-width: 572px) {
      left: -20vw;
    }
    @media screen and (min-width: 866px) {
      left: 20vw;
    }
    @media screen and (min-width: 1140px) {
      left: 30vw;
    }
  }
}


#screen-2:checked {
  ~ .scrolling-container {
    left: -100%;
    bottom: 0;
  }

  ~ .panel-2 {
    left: 0;
    top: 0;
  }

  ~ .panel-3 {
    top: 100%;
    left: 0;
  }

  ~ .midground {
    transform: translate(-4.5%, 0);
  }

  ~ .background {
    transform: translate(-3%, 0);
  }
  ~ .panel-4 {
    top: 80vh;
    left: -160vw;
    @media screen and (min-width: 572px) {
      top: 70vh;
      left: -120vw;
    }
    @media screen and (min-width: 866px) {
      left: -90vw;
    }
    @media screen and (min-width: 1140px) {
      left: -50vw;
    }
  }
}

#screen-3:checked {
  ~ .scrolling-container {
    left: -100%;
    bottom: 100%;
  }

  ~ .panel-2 {
    left: 0;
    top: -100%;
  }

  ~ .panel-3 {
    left: 0;
    top: 0;
  }
  ~ .midground {
    transform: translate(-4.5%, -6.5%);
    
  }

  ~ .background {
    transform: translate(-3%, -5%);
  }
  
  ~ .panel-4 {
    left: -160vw;
    top: 10vh;
    @media screen and (min-width: 572px) {
      left: -120vw;
      top: 5vh;
    }
    @media screen and (min-width: 866px) {
      left: -90vw;
      top: 2vh;
    }
    @media screen and (min-width: 1140px) {
      left: -50vw;
      top: 0;
    }
  }
  
}