#screen-1:checked {
  ~ .scrolling-container {
    left: 12%;
    bottom: 0;    
  }

  ~ .panel-2 {
    left: 101vw;
    top: 0;
  }

  ~ .panel-3 {
    left: 100vw;
    top: 100%;
  }

  ~ .midground {
    transform: translate(0, 0);
  }

  ~ .background {
    transform: translate(0, 0);
  }

  ~ .panel-4 {
    top: 80vh;
    left: 20vw;
  }
}


#screen-2:checked {
  ~ .scrolling-container {
    left: -100%;
    bottom: 0;
  }

  ~ .panel-2 {
    left: 0;
    top: 0;
  }

  ~ .panel-3 {
    top: 100%;
    left: 0;
  }

  ~ .midground {
    transform: translate(-4.5%, 0)
  }

  ~ .background {
    transform: translate(-3%, 0);
  }

  ~ .panel-4 {
    top: 80vh;
    left: -50vw;
  }
}

#screen-3:checked {
  ~ .scrolling-container {
    left: -100%;
    bottom: 100%;
  }

  ~ .panel-2 {
    left: 0;
    top: -100%;
  }

  ~ .panel-3 {
    left: 0;
    top: 0;
  }
  ~ .midground {
    transform: translate(-4.5%, -6.5%);
    
  }

  ~ .background {
    transform: translate(-3%, -5%);
  }
  
  ~ .panel-4 {
    left: -40vw;
    top: -50vh;
  }
}