/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/css3";
@import "fonts";

body {
  background-color: transparent;
}

.viewport-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}



.background {
  position:fixed;
  width: 106%;
  height: 106%;
  background: transparent url('../images/space.jpg');
  z-index: -99999;
  transition: transform 1.5s;
}

.midground {
  position: fixed;
  width: 110%;
  height: 110%;
  background: transparent url('../images/midground.svg');
  transition: transform 1.5s;
  z-index: -9999;
}
@import "logo";
@import "navbar";
@import "screen-positions";
@import "animations";
@import "panel-1";
@import "panel-2";
@import "panel-3";
@import "panel-4";

























